#languages {
  margin-top: 0.25vw;
  padding: 2%;
  color: var(--color-text);

  h3 {
    color: var(--color-text);
    font-size: 3rem;
    margin-bottom: 0.25rem;
    text-align: center;
    font-family: inherit;
  }

  p {
    color: var(--color-text);
    padding: 1.2vw;
    font-size: 1.5vw;
    margin-top: 1vw;
    font-family: inherit;
  }

  .language {
    font-size: 1.2vw;
    background-color: var(--color-surface);
    padding: 0.5rem;
    border-radius: $radius;
    box-shadow: 0 2px 4px rgba(64, 61, 57, 0.3);
    // transition: transform 0.2s ease, box-shadow 0.3s ease;

    .progress {
      height: 1rem;
      background-color: var(--color-muted);
      border-radius: 5px;
      overflow: hidden;

      .progress-bar {
        background-color: var(--color-accent);
        height: 100%;
      }
    }

    // &:hover {
    //   transform: translateY(-5px);
    //   box-shadow: 0 6px 12px rgba(64, 61, 57, 0.3);
    // }
  }
}
