/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import "../utils/mixins";
@import "../utils/variables";
@import "../base/fonts";

#soft_skills {
  @include flexbox; 
  flex-direction: column;
  margin-top: 0.25vw;
  padding: 2%;
  color: map-get($colors, off-white);

  h3 {
    color: map-get($colors, eggshell);
    font-size: 3rem;
    margin-bottom: 0.25rem;
    text-align: center;
  }

  p {
    color: map-get($colors, eggshell);
    padding: 1.2vw;
    font-size: 1.5vw;
    margin-top: 1vw;
  }

  .skill {
    font-size: 1.2vw;
    padding: 0.5rem;
    background-color: map-get($colors, eggshell);
    border-radius: $radius; // or a fixed value like 5%
    box-shadow: 0 2px 4px rgba(64, 61, 57, 0.3);
    transition: transform 0.2s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(64, 61, 57, 0.3);
    }
  }
}

/* Responsive */

@media (max-width: 768px) {
  #soft_skills {
    padding: 3%;
  }

  #soft_skills .skill {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  #soft_skills {
    padding: 4vw;
  }

  #soft_skills .skill {
    font-size: 6rem;
  }
}
