/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "../utils/mixins";
@import "../utils/variables";
@import "../base/fonts";

.tech_skills {
  background-color: transparent;
  margin-top: $margin-top;

  h2, h3 {
    color: var(--color-text);
    font-size: 3rem;
    margin-bottom: 0.25rem;
    text-align: center;
  }

  p {
    color: var(--color-text);
    padding: 1.2vw;
    font-size: 1.5vw;
    margin-top: $margin-top;
  }

  .tech-skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1vw;
  width: 100%;
  justify-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

    .tech-skill {
      width: 100%;
      max-width: clamp(80px, 10vw, 140px);
      max-height: 10vw;
      object-fit: contain;
      border-radius: map-get($border-radius, usual);
      overflow: hidden;
      background-color: transparent;
      margin: 1vw;
      transition: transform 0.2s ease, box-shadow 0.5s ease;

      &:hover {
        transform: translate(-10deg) scale(1.2);
        box-shadow: 0 4px 4px rgba(64, 61, 57, 0.3);
      }
    }
  }

  .portfolio {
    display: inline-block;
    width: 15vw;
    object-fit: contain;
    margin: 0.5vw;
    background-color: transparent;
    transition: transform 0.2s ease, box-shadow 0.5s ease;

    &:hover {
      transform: rotate(-10deg) scale(1.2);
      box-shadow: 0 4px 4px rgba(64, 61, 57, 0.3);
      overflow: hidden;
    }
  }

