:root {
  /* Only define shared colors here */
  --color-overlay-cold: rgba(39, 62, 71, 0.2);
  --color-overlay-warm: rgba(156, 71, 100, 0.2);
}

$beige: map-get($colors, beige);
$light-blue: map-get($colors, light-blue);

body.bright-theme {
  --color-bg-primary: #fdfdfd;
  --color-bg-gradient-start: #{rgba(map-get($colors, pink), 0.2)}; 
  --color-bg-gradient-end: #{map-get($colors, lilac)};
  --color-overlay-cold: rgba(39, 62, 71, 0.2);
  --color-overlay-warm: rgba(156, 71, 100, 0.2);
  --color-container-bg: linear-gradient(0deg, #{$beige}, #{$light-blue});
  background-color: var(--color-bg-primary);
  color: #111;

  a, p, h1, h2, h3, h4, h5, h6, label {
    color: #000;
  }

  .navbar, footer {
    background-color: #f8f9fa;
    color: #000;
  }

  .navbar-nav {
    background-color: map-get($colors, light-blue);
    color: map-get($colors, navy-blue);

    .navbar-item {
      color: map-get($colors, navy-blue);

      &:hover {
        background-color: map-get($colors, pink);
      }

      &.active {
        background-color: map-get($colors, navy-blue);
        color: map-get($colors, lilac);
      }
    }
  }

  .btn-outline-light {
    border-color: #000;
    color: #000;
  }

  .form-control {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
  }
}
