$colors: (
  eggshell: #ddfff7,
  beige: #d8c99b,
  yellow: #f2c078,
  gold: #d8973c,
  brown: #9c4764,
  red: #a4243b,
  bloodstone: #273e47,
  lilac: #7d83ff,
  light-blue: #5688c7,
  navy-blue: #150578,
  pink: #ba71fe,
  light-pink: #f57daa,
  dark-blue: #001f3f
);