/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*========================== VARIABLES ==========================*/

@import '../themes/colors';

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*storage of all SCSS reusable variables*/

$main-font: 'Raleway', Helvetica, sans-serif;

$accent-font: 'RF Dewi', 'Raleway', Helvetica, sans-serif;

$text-align-center: center;

$box-sizing: border-box;

$overflow: hidden;

$border-radius: (
  usual: 10%,
  small: 5%,
  asymetric: 15px 50px
);

$radius: 5%;

$asymetric: 15px 50px;

$linear-gradient: linear-gradient(
  135deg,
  lighten(map-get($colors, light-blue), 10%),
  desaturate(map-get($colors, navy-blue), 20%)
);

$margin-top: 2vw;

$shadow: 0 4px 8px 0 rgba(86, 136, 199, 0.5), 0 6px 20px 0 rgba(86, 136, 199, 0.75);  // RGB of map-get($colors, light-blue)

$hover-transform: scale(1.2) translate(-10deg);
