@import "../_mixins";
@import "../variables";
@import "../fonts";

/*========================== BODY, GRID, other positioning info ==========================*/

$gradient-start: rgba(map-get($colors, pink), 0.5);
$gradient-end: map-get($colors, lilac);

#gradient-background {
  background: linear-gradient(0deg, $gradient-start, $gradient-end);
}

#vector-image {
    background-image: url(https://wallpapers.com/images/hd/vector-pictures-x1nze4l9fn79dlef.jpg);
}

.transparent-background-cold {
    @include full-width;
    background-color: rgba(39, 62, 71, 0.5);
}

.transparent-background-warm {
    @include full-width;
    background-color: rgba(156, 71, 100, 0.5);
}

.container {
  background: linear-gradient(0deg, map-get($colors, beige), map-get($colors, grey), map-get($colors, dark-purple));
}
