@import "../utils/mixins";
@import "../utils/variables";

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*========================== FONTS ==========================*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1, p {
  text-align: center;
}

h3, h5, h6 {
  font-family: $main-font;
  padding: 2%;
  margin: 1%;
}

h4 {
  font-family: $main-font;
  margin-top: 1vw;
}

p.legibility {
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Reset input elements */
input, textarea, select, button {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

/* Reset images */
img {
  height: auto;
  max-width: 100%;
}

/* Reset margins and paddings for headings and paragraphs */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  line-height: 1.5;
}
